@charset 'UTF-8';

@mixin clear {
    content: '';
    display: block;
    clear: both;
}

@mixin mask($length: 0) {
    position: absolute;
    top: $length;
    left: $length;
    right: $length;
    bottom: $length;
}

@mixin elss($lineNum: 1, $lineHeight: 1rem) {
    overflow: hidden;
    @if ($lineNum > 1) {
        display: block;
        display: -webkit-box;
        max-height: $lineHeight * $lineNum;
        -webkit-line-clamp: $lineNum;
        -webkit-box-orient:vertical;
        line-height:$lineHeight;
        word-break:break-all;
        word-wrap:break-word;
    } @else {
        white-space: nowrap;
    }
    text-overflow: ellipsis;
}

@mixin noScroll{
    -ms-overflow-style:none;
    scrollbar-width:none;
    &::-webkit-scrollbar{
        display:none;
    }
}

@mixin mod_galfol {
    @media screen and (max-width: 320px) {
        @content;
    }
    // @media screen and (max-width: 320px) and (orientation:portrait) {
    //     @content;
    // }
    // @media screen and (max-height: 320px) and (orientation:landscape) {
    //     @content;
    // }
}

@mixin mod_tablet {
    @media screen and (min-width: 768px) {
        @content;
    }
    // @media screen and (min-width: 768px) and (orientation:portrait) {
    //     @content;
    // }
    // @media screen and (min-width: 768px) and (orientation:landscape) {
    //     @content;
    // }
}

@mixin mod_pc {
    @media screen and (min-width: 1024px) {
        @content;
    }
    // @media screen and (min-width: 1024px) and (orientation:portrait) {
    //     @content;
    // }
    // @media screen and (min-width: 1024px) and (orientation:landscape) {
    //     @content;
    // }
}

@mixin mod_dark {
    @media (prefers-color-scheme: dark) {
        @content;
    }
}