@charset 'UTF-8';

@mixin clear {
    content: '';
    display: block;
    clear: both;
}

@mixin mask($length: 0) {
    position: absolute;
    top: $length;
    left: $length;
    right: $length;
    bottom: $length;
}

@mixin noScroll{
    -ms-overflow-style:none;
    scrollbar-width:none;
    &::-webkit-scrollbar{
        display:none;
    }
}

@mixin galfol {
    @media screen and (max-width: 320px) {
        @content;
    }
    // @media screen and (max-width: 320px) and (orientation:portrait) {
    //     @content;
    // }
    // @media screen and (max-height: 320px) and (orientation:landscape) {
    //     @content;
    // }
}

@mixin tablet {
    @media screen and (min-width: 768px) {
        @content;
    }
    // @media screen and (min-width: 768px) and (orientation:portrait) {
    //     @content;
    // }
    // @media screen and (min-width: 768px) and (orientation:landscape) {
    //     @content;
    // }
}

@mixin pc {
    @media screen and (min-width: 1024px) {
        @content;
    }
    // @media screen and (min-width: 1024px) and (orientation:portrait) {
    //     @content;
    // }
    // @media screen and (min-width: 1024px) and (orientation:landscape) {
    //     @content;
    // }
}