@charset 'UTF-8';

@import '../../scss/common/mixins.scss';
@import '../../scss/common/variables';

.gnb_wrap {
    position: sticky;
    top: 0;
    z-index: 5000;
    &:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: -20px;
        height: 20px;
        background: linear-gradient(to bottom, var(--color-bg), transparent);
    }
    ::-webkit-scrollbar {
        display: none;
    }
    .profile_wrap {
        &:after {
            @include clear;
        }
        .thumb_area {
            float: left;
        }
        .info_area {
            overflow: hidden;
        }
    }
    .menu_tab_list {
        overflow-x: auto;
        white-space: nowrap;
        font-size: 0;
        line-height: 0;
        background-color: var(--color-tab-inactive);
        height: 4.5rem;
    }
    .menu_tab {
        display: inline-block;
        vertical-align: top;
        .tab {
            display: block;
            position: relative;
            padding: 0 1rem;
            color: var(--color-font2);
            font-size: 1.3rem;
            line-height: 4.5rem;
            &.is_selected {
                background-color: var(--color-tab-active);
                color: var(--color-font-strong);
                &:after {
                    content: '';
                    position: absolute;
                    left: 1rem;
                    right: 1rem;
                    bottom: 0;
                    height: 1px;
                    background-color: var(--color-theme);
                }
            }
        }
    }
}