.spcard {
    background-image: url(../../img/card_sprite.png);
    background-repeat: no-repeat;
    display: block;
}

.card_c_avengers {
    width: 127px;
    height: 191px;
    background-position: -5px -5px;
}

.card_c_loki {
    width: 127px;
    height: 191px;
    background-position: -142px -5px;
}

.card_c_uncanny {
    width: 127px;
    height: 191px;
    background-position: -279px -5px;
}

.card_default {
    width: 127px;
    height: 191px;
    background-position: -416px -5px;
}

.card_lgp_black_panther {
    width: 127px;
    height: 191px;
    background-position: -553px -5px;
}

.card_lgp_loki_reword {
    width: 127px;
    height: 191px;
    background-position: -5px -206px;
}

.card_lgp_thor_reword {
    width: 127px;
    height: 191px;
    background-position: -142px -206px;
}

.card_lp_gwenpool {
    width: 127px;
    height: 191px;
    background-position: -279px -206px;
}

.card_lp_punisher {
    width: 127px;
    height: 191px;
    background-position: -416px -206px;
}

.card_lp_spider {
    width: 127px;
    height: 191px;
    background-position: -553px -206px;
}

.card_lp_thor {
    width: 127px;
    height: 191px;
    background-position: -5px -407px;
}

.card_p_black_panther {
    width: 127px;
    height: 191px;
    background-position: -142px -407px;
}

.card_p_black_widow {
    width: 127px;
    height: 191px;
    background-position: -279px -407px;
}

.card_p_gog {
    width: 127px;
    height: 191px;
    background-position: -416px -407px;
}

.card_p_gwenpool {
    width: 127px;
    height: 191px;
    background-position: -553px -407px;
}

.card_p_new_avengers {
    width: 127px;
    height: 191px;
    background-position: -690px -5px;
}

.card_p_spider {
    width: 127px;
    height: 191px;
    background-position: -690px -206px;
}

.card_p_swq {
    width: 127px;
    height: 191px;
    background-position: -690px -407px;
}

.card_p_uncanny {
    width: 127px;
    height: 191px;
    background-position: -5px -608px;
}