.spccard {
    background-image: url(../../img/sprite/sp_card.png);
    background-repeat: no-repeat;
    &.img_card1 {
        width: 252px;
        height: 380px;
        background-position: -4px -4px;
    }
    &.img_card10 {
        width: 252px;
        height: 380px;
        background-position: -264px -4px;
    }
    
    &.img_card11 {
        width: 252px;
        height: 380px;
        background-position: -524px -4px;
    }
    
    &.img_card12 {
        width: 252px;
        height: 380px;
        background-position: -784px -4px;
    }
    
    &.img_card13 {
        width: 252px;
        height: 380px;
        background-position: -1044px -4px;
    }
    
    &.img_card14 {
        width: 252px;
        height: 380px;
        background-position: -1304px -4px;
    }
    
    &.img_card15 {
        width: 252px;
        height: 380px;
        background-position: -1564px -4px;
    }
    
    &.img_card16 {
        width: 252px;
        height: 380px;
        background-position: -1824px -4px;
    }
    
    &.img_card17 {
        width: 252px;
        height: 380px;
        background-position: -2084px -4px;
    }
    
    &.img_card18 {
        width: 252px;
        height: 380px;
        background-position: -2344px -4px;
    }
    
    &.img_card19 {
        width: 252px;
        height: 380px;
        background-position: -2604px -4px;
    }
    
    &.img_card2 {
        width: 252px;
        height: 380px;
        background-position: -4px -392px;
    }
    
    &.img_card20 {
        width: 252px;
        height: 380px;
        background-position: -264px -392px;
    }
    
    &.img_card21 {
        width: 252px;
        height: 380px;
        background-position: -524px -392px;
    }
    
    &.img_card22 {
        width: 252px;
        height: 380px;
        background-position: -784px -392px;
    }
    
    &.img_card23 {
        width: 252px;
        height: 380px;
        background-position: -1044px -392px;
    }
    
    &.img_card24 {
        width: 252px;
        height: 380px;
        background-position: -1304px -392px;
    }
    
    &.img_card25 {
        width: 252px;
        height: 380px;
        background-position: -1564px -392px;
    }
    
    &.img_card26 {
        width: 252px;
        height: 380px;
        background-position: -1824px -392px;
    }
    
    &.img_card27 {
        width: 252px;
        height: 380px;
        background-position: -2084px -392px;
    }
    
    &.img_card28 {
        width: 252px;
        height: 380px;
        background-position: -2344px -392px;
    }
    
    &.img_card29 {
        width: 252px;
        height: 380px;
        background-position: -2604px -392px;
    }
    
    &.img_card3 {
        width: 252px;
        height: 380px;
        background-position: -4px -780px;
    }
    
    &.img_card30 {
        width: 252px;
        height: 380px;
        background-position: -264px -780px;
    }
    
    &.img_card31 {
        width: 252px;
        height: 380px;
        background-position: -524px -780px;
    }
    
    &.img_card32 {
        width: 252px;
        height: 380px;
        background-position: -784px -780px;
    }
    
    &.img_card33 {
        width: 252px;
        height: 380px;
        background-position: -1044px -780px;
    }
    
    &.img_card34 {
        width: 252px;
        height: 380px;
        background-position: -1304px -780px;
    }
    
    &.img_card35 {
        width: 252px;
        height: 380px;
        background-position: -1564px -780px;
    }
    
    &.img_card36 {
        width: 252px;
        height: 380px;
        background-position: -1824px -780px;
    }
    
    &.img_card37 {
        width: 252px;
        height: 380px;
        background-position: -2084px -780px;
    }
    
    &.img_card38 {
        width: 252px;
        height: 380px;
        background-position: -2344px -780px;
    }
    
    &.img_card39 {
        width: 252px;
        height: 380px;
        background-position: -2604px -780px;
    }
    
    &.img_card4 {
        width: 252px;
        height: 380px;
        background-position: -4px -1168px;
    }
    
    &.img_card40 {
        width: 252px;
        height: 380px;
        background-position: -264px -1168px;
    }
    
    &.img_card41 {
        width: 252px;
        height: 380px;
        background-position: -524px -1168px;
    }
    
    &.img_card42 {
        width: 252px;
        height: 380px;
        background-position: -784px -1168px;
    }
    
    &.img_card43 {
        width: 252px;
        height: 380px;
        background-position: -1044px -1168px;
    }
    
    &.img_card44 {
        width: 252px;
        height: 380px;
        background-position: -1304px -1168px;
    }
    
    &.img_card45 {
        width: 252px;
        height: 380px;
        background-position: -1564px -1168px;
    }
    
    &.img_card46 {
        width: 252px;
        height: 380px;
        background-position: -1824px -1168px;
    }
    
    &.img_card47 {
        width: 252px;
        height: 380px;
        background-position: -2084px -1168px;
    }
    
    &.img_card48 {
        width: 252px;
        height: 380px;
        background-position: -2344px -1168px;
    }
    
    &.img_card49 {
        width: 252px;
        height: 380px;
        background-position: -2604px -1168px;
    }
    
    &.img_card5 {
        width: 252px;
        height: 380px;
        background-position: -4px -1556px;
    }
    
    &.img_card50 {
        width: 252px;
        height: 380px;
        background-position: -264px -1556px;
    }
    
    &.img_card51 {
        width: 252px;
        height: 380px;
        background-position: -524px -1556px;
    }
    
    &.img_card52 {
        width: 252px;
        height: 380px;
        background-position: -784px -1556px;
    }
    
    &.img_card53 {
        width: 252px;
        height: 380px;
        background-position: -1044px -1556px;
    }
    
    &.img_card54 {
        width: 252px;
        height: 380px;
        background-position: -1304px -1556px;
    }
    
    &.img_card55 {
        width: 252px;
        height: 380px;
        background-position: -1564px -1556px;
    }
    
    &.img_card56 {
        width: 252px;
        height: 380px;
        background-position: -1824px -1556px;
    }
    
    &.img_card57 {
        width: 252px;
        height: 380px;
        background-position: -2084px -1556px;
    }
    
    &.img_card58 {
        width: 252px;
        height: 380px;
        background-position: -2344px -1556px;
    }
    
    &.img_card59 {
        width: 252px;
        height: 380px;
        background-position: -2604px -1556px;
    }
    
    &.img_card6 {
        width: 252px;
        height: 380px;
        background-position: -4px -1944px;
    }
    
    &.img_card60 {
        width: 252px;
        height: 380px;
        background-position: -264px -1944px;
    }
    
    &.img_card61 {
        width: 252px;
        height: 380px;
        background-position: -524px -1944px;
    }
    
    &.img_card62 {
        width: 252px;
        height: 380px;
        background-position: -784px -1944px;
    }
    
    &.img_card63 {
        width: 252px;
        height: 380px;
        background-position: -1044px -1944px;
    }
    
    &.img_card64 {
        width: 252px;
        height: 380px;
        background-position: -1304px -1944px;
    }
    
    &.img_card65 {
        width: 252px;
        height: 380px;
        background-position: -1564px -1944px;
    }
    
    &.img_card66 {
        width: 252px;
        height: 380px;
        background-position: -1824px -1944px;
    }
    
    &.img_card67 {
        width: 252px;
        height: 380px;
        background-position: -2084px -1944px;
    }
    
    &.img_card68 {
        width: 252px;
        height: 380px;
        background-position: -2344px -1944px;
    }
    
    &.img_card69 {
        width: 252px;
        height: 380px;
        background-position: -2604px -1944px;
    }
    
    &.img_card7 {
        width: 252px;
        height: 380px;
        background-position: -4px -2332px;
    }
    
    &.img_card70 {
        width: 252px;
        height: 380px;
        background-position: -264px -2332px;
    }
    
    &.img_card71 {
        width: 252px;
        height: 380px;
        background-position: -524px -2332px;
    }
    
    &.img_card72 {
        width: 252px;
        height: 380px;
        background-position: -784px -2332px;
    }
    
    &.img_card73 {
        width: 252px;
        height: 380px;
        background-position: -1044px -2332px;
    }
    
    &.img_card74 {
        width: 252px;
        height: 380px;
        background-position: -1304px -2332px;
    }
    
    &.img_card75 {
        width: 252px;
        height: 380px;
        background-position: -1564px -2332px;
    }
    
    &.img_card76 {
        width: 252px;
        height: 380px;
        background-position: -1824px -2332px;
    }
    
    &.img_card77 {
        width: 252px;
        height: 380px;
        background-position: -2084px -2332px;
    }
    
    &.img_card78 {
        width: 252px;
        height: 380px;
        background-position: -2344px -2332px;
    }
    
    &.img_card79 {
        width: 252px;
        height: 380px;
        background-position: -2604px -2332px;
    }
    
    &.img_card8 {
        width: 252px;
        height: 380px;
        background-position: -2864px -4px;
    }
    
    &.img_card80 {
        width: 252px;
        height: 380px;
        background-position: -2864px -392px;
    }
    
    &.img_card81 {
        width: 252px;
        height: 380px;
        background-position: -2864px -780px;
    }
    
    &.img_card82 {
        width: 252px;
        height: 380px;
        background-position: -2864px -1168px;
    }
    
    &.img_card83 {
        width: 252px;
        height: 380px;
        background-position: -2864px -1556px;
    }
    
    &.img_card84 {
        width: 252px;
        height: 380px;
        background-position: -2864px -1944px;
    }
    
    &.img_card85 {
        width: 252px;
        height: 380px;
        background-position: -2864px -2332px;
    }
    
    &.img_card86 {
        width: 252px;
        height: 380px;
        background-position: -4px -2720px;
    }
    
    &.img_card87 {
        width: 252px;
        height: 380px;
        background-position: -264px -2720px;
    }
    
    &.img_card88 {
        width: 252px;
        height: 380px;
        background-position: -524px -2720px;
    }
    
    &.img_card89 {
        width: 252px;
        height: 380px;
        background-position: -784px -2720px;
    }
    
    &.img_card9 {
        width: 252px;
        height: 380px;
        background-position: -1044px -2720px;
    }
    
    &.img_card90 {
        width: 252px;
        height: 380px;
        background-position: -1304px -2720px;
    }
    
    &.img_card91 {
        width: 252px;
        height: 380px;
        background-position: -1564px -2720px;
    }
    
    &.img_card92 {
        width: 252px;
        height: 380px;
        background-position: -1824px -2720px;
    }
    
    &.img_card93 {
        width: 252px;
        height: 380px;
        background-position: -2084px -2720px;
    }    
}