@charset 'UTF-8';
@import './scss/common/reset.scss';
@import './scss/common/variables';

.weed_wiki {
  position: relative;
  .dummy {
    height: 1500px;
    background-color: black;
    &.type_small {
      height: 250px;
    }
  }
  @import './scss/header.scss';
  @import './scss//gnb.scss';
}

