@charset 'UTF-8';
@import './scss/common/reset.scss';
@import './scss/common/variables';
@import './scss//common/mixins.scss';

.weed_wiki {
  position: relative;
  background-color: var(--color-bg);

  .main_wrap {
    padding: 20px 0 36px;
    background-color: var(--color-bg);
  }

  //섹션
  .sc {
    overflow: hidden;
    position: relative;
    margin: 0 6px;
    border: 1px solid rgba(#206b4d, 0.2);
    border-radius: 4px;
    background-color: var(--color-bg2);
    box-shadow: 0px 0px 6px 2px rgba(#72ab8f, 0.6);
    @include mod_dark {
      border-color: rgba(#1f3129, 0.2);
      box-shadow: 0px 0px 6px 2px rgba(#101915, 0.6);
    }
    & + .sc {
      margin-top: 12px;
    }
    .sc_title_area {
      padding: 17px var(--gap-both) 16px;
      border-bottom: 1px solid var(--color-border);
      .title {
        @include elss;
        color: var(--color-font);
        font-size: 1.9rem;
        line-height: 2.4rem;
        letter-spacing: var(--G-letter-spacing);
      }
    }
  }

  // fixed 레이어
  .ly_info {
    overflow: hidden;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.76);
    pointer-events: none;
    z-index: 9000;
    &.is_show {
      display: block;
    }
  }
}

