@charset 'UTF-8';
@import '../scss/common/mixins.scss';

.admin_page{
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#fff;
    z-index:5000;
    .admin_inner{
        display:flex;
        height:100%;
        flex-direction:column;
    }
    .admin_content{
        position: relative;
        height:100%;
        margin:auto 0 0;
        overflow:hidden;
        &:before{
            content:'';
            position:absolute;
            top:-2px;
            left:0;
            right:0;
            height:3rem;
            background-image:linear-gradient(to top, rgba(255,255,255,0), rgba(255,255,255,1));
        }
        &:after{
            content:'';
            position:absolute;
            left:0;
            right:0;
            bottom:-2px;
            height:3rem;
            background-image:linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1));
        }
        .card_area{
            padding:0 1.6rem;
            height:100%;
            overflow-y:auto;
        }
        .card_wrap{
            padding:2rem;
            background-color:#dedede;
            border:1px solid #333;
            border-radius:20px;
            box-shadow: 0 0 1px 1px #111;
            box-sizing:border-box;
            &:after{
                @include clear;
            }
            &+.card_wrap{
                margin-top:2rem;
            }
            &:first-child{
                margin-top:3rem;
            }
            &:last-child{
                margin-bottom:3rem;
            }
            .user_name{
                display:block;
                margin:5px;
                font-size:2rem;
                line-height:2.5rem;
                font-weight:800;
                color:#333;
            }
            .info_wrap{
                float:left;
                width:50%;
                box-sizing:border-box;
                padding:1rem 1rem 0;
            }
            .info_label{
                display:inline-block;
                vertical-align:top;
                padding:0 5px;
                min-width:4rem;
                font-size:1.3rem;
                line-height:2.5rem;
                color:#fff;
                background-color:#242424;
                border-radius:10px 10px 0 0;
                text-align:center;
            }
            .info_bx{
                padding:5px 5px 5px 8px;
                height:2rem;
                background-color:#fff;
                border-radius: 0 10px 10px 10px;
                overflow:hidden;
                white-space:nowrap;
                text-overflow:ellipsis;
            }
        }
    }
    .content_footer_wrap{
        line-height:4rem;
        text-align:center;
        .content_btn{
            padding:5px;
            border-radius:8px;
            border:1px solid #333;
            font-weight:bold;
            color:#424242;
            background-color:rgba(255,255,255, 0.8);
            &.type_next{
                margin-left:12px;
            }
            &.type_first, &.type_last{
                pointer-events: none;
                cursor: not-allowed;
                border-color: #999;
                color: #999;
            }
            &:hover{
                color:#fff;
                background-color:rgba(#111, 0.45);
            }
            &:focus {
                color: #fff;
                background-color:rgba(#111, 0.45);
            }
        }
        .page_bx{
            display:inline-block;
            vertical-align:top;
            width:3rem;
        }
        label.page_bx{
            text-align:right;
        }
        .page_inp{
            display:none;
            margin-left:-3rem;
            vertical-align:top;
            line-height:4rem;
            width:3rem;
            text-align:right;
            &.is_focused{
                display:inline-block;
            }
        }
    }
    .admin_title{
        margin:5rem 0 2rem;
        padding: 0 10px;
        color:#242424;
        font-size: 1.8rem;
        line-height:2.3rem;
    }

    .admin_back_btn{
        position:absolute;
        top:1rem;
        left:1rem;
        background-color:#cecece;
        border:1px solid #333;
        color:#888;
    }

    .admin_menu_item{
        display: block;
        padding: 2rem;
        color:#242424;
        font-weight: bold;
    }
}