@charset 'UTF-8';
@import url('https://fonts.googleapis.com/css?family=Do+Hyeon&display=swap');

.content.type_card{
    .set_area{
        padding: 30px 18px 0;
    }
    .user_info_wrap{
        .name{

        }
        .preset_wrap{
            margin-top: 1rem;
        }
    }
    .card_list{
        margin-top: 1.5rem;
        &:after{
            @include clear;
        }
        .card_wrap{
            float:left;
            width:20%;
            height: 100px;
            background-color:red;
        }
        .card_btn{
            display:block;
        }
    }
}