@charset 'UTF-8';

.gnb_wrap {
    position: sticky;
    top: 0;
    &:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: -20px;
        height: 20px;
        background: linear-gradient(to bottom, $color-bg, transparent);
    }
    ::-webkit-scrollbar {
        display: none;
    }
    .menu_tab_list {
        overflow-x: auto;
        white-space: nowrap;
        font-size: 0;
        line-height: 0;
        background-color: $color-tab-inactive;
        height: 4.5rem;
    }
    .menu_tab {
        display: inline-block;
        vertical-align: top;
        .tab {
            display: block;
            position: relative;
            padding: 0 1rem;
            color: $color-font2;
            font-size: 1.3rem;
            line-height: 4.5rem;
            &.active {
                background-color: $color-tab-active;
                color: $color-font-strong;
                &:after {
                    content: '';
                    position: absolute;
                    left: 1rem;
                    right: 1rem;
                    bottom: 0;
                    height: 1px;
                    background-color: $color-theme;
                }
            }
        }
    }
}