@charset 'UTF-8';

.header_wrap{
    position:relative;
    &:before{
        content:'';
        position:absolute;
        top:100%;
        left:0;
        right:0;
        height:2rem;
        background:linear-gradient(to bottom, #fff, rgba(255,255,255,0));
    }
    .btn_menu{
        position:absolute;
        top:1rem;
        left:1rem;
        width:4rem;
        height:4rem;
        background-color:red;
        border-radius:50%;
    }
    .signin_btn{
        position:absolute;
        top:1rem;
        left:1rem;
        width:4rem;
        height:4rem;
        background-color:red;
        border-radius:50%;
    }
    .header_banner{
        height:20rem;
        background-color:blue;
    }
    .menu_tablist{
        position:relative;
        background-color:#424141;
        font-size:0;
        line-height:5rem;
        white-space:nowrap;
        overflow-x:auto;
        -ms-overflow-style:none;
        scrollbar-width:none;
        &::-webkit-scrollbar{
            display:none;
        }
        &>li{
            display:inline-block;
            vertical-align:top;
        }
        .tab{
            display:block;
            padding:0 20px;
            font-size:14px;
            color:#fff;
            &.active{
                position:relative;
                color:#21825c;
                background-color:#f6f6f6;
                &:after{
                    content:'';
                    position:absolute;
                    bottom:0;
                    left:16px;
                    right:16px;
                    height:2px;
                    background-color:#a4d792;
                }
            }
        }
    }
}